[submodule "ControlNet"]
	path = ControlNet
	url = https://github.com/lllyasviel/ControlNet.git
[submodule "sam2"]
	path = sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "BrushNet"]
	path = BrushNet
	url = https://github.com/TencentARC/BrushNet.git
[submodule "Semantic-SAM"]
	path = Semantic-SAM
	url = https://github.com/UX-Decoder/Semantic-SAM.git
[submodule "dinov2"]
	path = dinov2
	url = https://github.com/facebookresearch/dinov2.git
